.header_container {
    /* background-color: peachpuff; */
    width: 100vw;
    height: 30vh;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 137px;
    font-family: "Inter Tight", "sans-serif";
    font-weight: 800;
    /* margin: 10vh 0; */
    padding: 5vh 0;
    flex-direction: column;
}

.header_text {
    /* background-color: azure; */
    text-align: center;
    line-height: 0.9;
    letter-spacing: -2px;
}

.header_subtitle {
    font-family: "Roboto Mono", monospace;
    font-size: 20px;
    font-weight: 400;
    line-height: 24px;
    padding-bottom: 30px;
}

/* chatgpt generated phone css */
/* Media query for phone screens */
@media (max-width: 600px) {
    .header_container {
        font-size: 54px;
        /* Adjust the font size for smaller screens */
        height: 20vh; /* Adjust the height for smaller screens */
        padding: 20vh 0 10vh 0; /* Adjust the padding for smaller screens */
        margin: 10vh 0 12vh;
    }

    .header_text {
        line-height: 1.1; /* Adjust line-height for better readability on smaller screens */
    }

    .header_subtitle {
        font-size: 16px; /* Adjust the font size for smaller screens */
        line-height: 20px; /* Adjust the line-height for smaller screens */
        padding-bottom: 20px; /* Adjust the padding for smaller screens */
    }
}

.border_addon {
    border-bottom-left-radius: 32px;
    border-bottom-right-radius: 32px;
    border-top-left-radius: 32px;
    border-top-right-radius: 32px;
}

@media (min-width: 1000px) {
    .header_container {
        margin: 20vh 0 23vh;
    }
}

.home_title_container{
    /* background-color: orange; */
    overflow: hidden;
}