.card {
    /* background-color: white; */

    border: 1px solid #ddd;
    border-radius: 32px;
    /* padding: 16px; */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 10px;
    box-sizing: border-box;
    overflow: hidden;
    position: relative;
}

.card-image-container {
    position: relative;
    overflow: hidden;
    border-radius: 8px;
    height: 100%;
}

.card-image {
    width: 100%;
    height: 100%;

    /* object-fit: fill; */
    transition: transform 0.3s ease;
}

.card-image-container:hover .card-image {
    transform: scale(1.1);
}
.card-image-container:hover .circle_arrow {
    right: 10px; /* Final position inside the card */
}

.circle_arrow {
    width: 45px;
    height: 45px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    size: 50px;
    position: absolute;
    /* right: 10px; */
    right: -50px;
    top: 10px;
    z-index: 2;
    /* background-color: #333; */
    background-color: rgba(51, 51, 51, 0.5);

    color: white;
    transition: all 0.3s ease;
}

.card-title {
    /* background-color: yellowgreen; */
    /* background-color: rgba(0, 0, 0, 0.5); */
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 24px;
    color: white;
    color: bla;
    padding: 5px 10px;
    border-radius: 5px;

    font-family: "Inter Tight";
    font-size: 64px;
    font-weight: 400;
    letter-spacing: -2px;
}

.card-content {
    font-size: 16px;
    color: #333;
    margin-top: 16px;
}

/* Card container in Home.js */
.card-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
    padding: 16px;
}

.tags_container {
    display: flex;
    justify-content: start;
    align-items: center;
    position: absolute;
    top: 10px;
    left: 20px;
}
.tag {
    color: white;
    z-index: 2;
    background-color: rgba(51, 51, 51, 0.5);
    border-radius: 100px;
    margin: 10px 10px 10px 0px;
    padding: 5px 20px ;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    font-family: "Roboto Mono", monospace;
    text-transform: uppercase;
}



@media (max-width: 600px) {
    .card-container {
        grid-template-columns: 1fr;
    }

    .card-title {
        font-size: 34px;
        font-weight: 400;
        letter-spacing: -1px;
    }

    .tag {
        font-size: 15px;
        font-weight: 400;
        line-height: 24px;
    }

    .tags_container {
        display: flex;
        justify-content: start;
        align-items: center;
        position: absolute;
        top: 10px;
        left: 5px;
    }

    .circle_arrow{
        /* height: 23px; */
        /* width: 23px; */
        scale: 0.7;
    }
}
